name: Build & Test CI

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
    name: Build and test (Node.js ${{ matrix.node.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - name: LTS
            version: lts/*
          - name: Current
            version: node
          - name: Previous LTS
            version: lts/-1
    steps:
      - name: Check out the code
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Set up Node.js environment
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ matrix.node.version }}
          cache: npm

      - name: Clean install and test
        run: npm cit

  release:
    permissions:
      contents: write
    name: Prepare the release
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Create a release
        uses: softprops/action-gh-release@69320dbe05506a9a39fc8ae11030b214ec2d1f87 # v2.0.5
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}
  
